body {
  text-align: center;
  background-color: magenta;
}

img {
  width:350px;
  height:350px;
}

.jumbotron {
  background-color: magenta;
}

body {
  background-color: magenta;
}
